[user]
  name = Peter Vandenabeele
  email = peter@vandenabeele.com

[push]
  default = current

[core]
  excludesfile = /Users/peter_v/.gitignore_global
  editor = vim

#[url "https://"]
# 	insteadOf = git://

# On windows 10 with Git Bash, may need this to avoid SSL issues
#[http]
#  sslbackend = schannel

#[filter "media"]
#  required = true
#  clean = git media clean %f
#  smudge = git media smudge %f

#[filter "lfs"]
#  smudge = git-lfs smudge %f
#  required = true
#  clean = git-lfs clean %f

[alias]
  prev = checkout HEAD^1
  next = "!sh -c 'git log --reverse --pretty=%H master | awk \"/$(git rev-parse HEAD)/{getline;print}\" | xargs git checkout'"
